:host {
  display: block;
}

table {
  width: 100%;
}

th {
  padding: 1rem 0;
  border-bottom: 1px solid var(--sl-color-hairline);
}

td {
  padding: 1rem 0 0 0;
  vertical-align: top;
}

td:first-child {
  white-space: nowrap;
  font-weight: bold;
  padding-right: 1rem;
}

td:last-child {
  white-space: nowrap;
  padding-left: 1rem;
}

tr:first-child td {
  padding-top: 1.5rem;
}

td, th {

  text-align: left;
}
