:host {
  --kemet-combo-width: calc(100% - 2px);
  --kemet-combo-margin: 1rem auto;
  --kemet-combo-max-height: calc(5 * 3rem);
  --kemet-combo-border: 1px solid;
  --kemet-combo-border-radius: var(--kemet-border-radius-md);
  --kemet-combo-shadow: var(--kemet-elevation-layer-5);
  --kemet-combo-font-color: var(--kemet-color-font-base);
  --kemet-combo-background-color: var(--kemet-color-background-base);
  --kemet-combo-item-background-color: var(--kemet-color-background-base);


  opacity: 0;
  width: var(--kemet-combo-width);
  margin: var(--kemet-combo-margin);
  pointer-events: none;
  display: block;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}

:host([show]) {
  opacity: 1;
  pointer-events: auto;
}

ul {
  width: 100%;
  max-height: var(--kemet-combo-max-height);
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border: var(--kemet-combo-border);
  border-radius: var(--kemet-combo-border-radius);
  box-shadow: var(--kemet-combo-shadow);
  background-color: var(--kemet-combo-background-color);
}

li {
  color: var(--kemet-combo-font-color);
  line-height: 3rem;
  padding: 0 1.5rem;
  cursor: pointer;
  background-color: var(--kemet-combo-item-background-color);
}

li:hover,
li:focus {
  --kemet-combo-font-color: var(--kemet-color-font-inverse-base);
  --kemet-combo-item-background-color: var(--kemet-color-background-inverse);
  outline: none;
}
