:host {
  /* private */
  --_kemet-field-message-color: inherit;
  --_kemet-field-message-display: none;

  display: block;
}

:host([disabled]) {
  opacity: 0.5;
}

label {
  position: relative;
  display: block;
}

label span {
  color: inherit;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.8rem;
}

[part=message] {
  display: var(--_kemet-field-message-display);
  color: var(--_kemet-field-message-color);
  font-size: 0.9rem;
  line-height: 1;
  margin-top: 0.8rem;
}

:host([appearance]) {
  --_kemet-field-message-display: block;
}

:host([appearance=neutral]) {
  --_kemet-field-message-display: none;
}

:host([appearance=error]) {
  --_kemet-field-message-color: var(--kemet-color-font-error);
}

:host([appearance=success]) {
  --_kemet-field-message-color: var(--kemet-color-font-success);
}

:host([appearance=warning]) {
  --_kemet-field-message-color: var(--kemet-color-font-warning);
}

:host([appearance=link]) {
  --_kemet-field-message-color: var(--kemet-color-font-link);
}
