:root[data-theme=ausar] {
  --kemet-color-brand-primary-lighter: var(--kemet-color-base-green-100);
  --kemet-color-brand-primary-light: var(--kemet-color-base-green-300);
  --kemet-color-brand-primary-base: var(--kemet-color-base-green-500);
  --kemet-color-brand-primary-dark: var(--kemet-color-base-green-700);
  --kemet-color-brand-primary-darker: var(--kemet-color-base-green-900);

  --kemet-color-brand-secondary-lighter: var(--kemet-color-base-orange-100);
  --kemet-color-brand-secondary-light: var(--kemet-color-base-orange-300);
  --kemet-color-brand-secondary-base: var(--kemet-color-base-orange-500);
  --kemet-color-brand-secondary-dark: var(--kemet-color-base-orange-700);
  --kemet-color-brand-secondary-darker: var(--kemet-color-base-orange-900);
}
