@use 'sass:list';
@use '../shared/breakpoints.scss' as *;

@function getListFirst($list) {
  @return list.nth($list, 1);
}

@function getListLast($list) {
  $max: list.length($list);
  @return list.nth($list, $max);
}

@mixin makeVisibility() {
  @each $breakpoint, $range in $breakranges {
    $min: getListFirst($range);
    $max: getListLast($range);

    @media screen and (min-width: $min) {
      [data-kemet="show:#{$breakpoint}-up"] {
        display: inherit !important;
      }

      table[data-kemet="show:#{$breakpoint}-up"] {
        display: table !important;
      }

      [data-kemet="hide:#{$breakpoint}-up"] {
        display: none !important;
      }
    }

    @media screen and (max-width: $max) {
      [data-kemet="show:#{$breakpoint}-down"] {
        display: inherit !important;
      }

      table[data-kemet="show:#{$breakpoint}-down"] {
        display: table !important;
      }

      [data-kemet="hide:#{$breakpoint}-down"] {
        display: none !important;
      }
    }

    @media screen and (min-width: $min) and (max-width: $max) {
      [data-kemet="show:#{$breakpoint}"] {
        display: inherit !important;
      }

      table[data-kemet="show:#{$breakpoint}"] {
        display: table !important;
      }

      [data-kemet="hide:#{$breakpoint}"] {
        display: none !important;
      }
    }
  } // @each
}

@include makeVisibility;
